/**/*
/.*
/LICENSE*
/*.php
/*.sample
/*.txt
/*.sh
/*.ico
/mage

!.gitignore
!composer.json

!/app
!/app/code
/app/code/*
!/app/code/local


!/app/etc
/app/etc/*
!/app/etc/modules
/app/etc/modules/*
!/app/etc/modules/SfUgBerlin_Symfony.xml